swagger: '2.0'
info:
  description: API Documentation
  version: '1.0'
  title: MicroserviceManagement API
  termsOfService: urn:tos
  contact: {}
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
host: cm-microservice-management.cloud.iai.kit.edu
basePath: "/"
tags:
- name: basic-error-controller
  description: Basic Error Controller
- name: default-controller
  description: Default Controller
- name: operation-handler
  description: Operation Handler
- name: service-registry-controller
  description: Register/Unregister Controller
- name: microservice-management-controller
  description: Microservice management functionality controller
- name: web-mvc-links-handler
  description: Web Mvc Links Handler
paths:
  "/":
    get:
      tags:
      - default-controller
      summary: hello
      operationId: helloUsingGET
      produces:
      - "*/*"
      responses:
        '200':
          description: OK
          schema:
            type: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  "/actuator":
    get:
      tags:
      - web-mvc-links-handler
      summary: links
      operationId: linksUsingGET
      produces:
      - application/vnd.spring-boot.actuator.v3+json
      - application/json
      - application/vnd.spring-boot.actuator.v2+json
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              type: object
              additionalProperties:
                "$ref": "#/definitions/Link"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  "/actuator/health":
    get:
      tags:
      - operation-handler
      summary: handle
      operationId: handleUsingGET_1
      produces:
      - application/vnd.spring-boot.actuator.v3+json
      - application/json
      - application/vnd.spring-boot.actuator.v2+json
      parameters:
      - in: body
        name: body
        description: body
        required: false
        schema:
          type: object
          additionalProperties:
            type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  "/actuator/health/**":
    get:
      tags:
      - operation-handler
      summary: handle
      operationId: handleUsingGET
      produces:
      - application/vnd.spring-boot.actuator.v3+json
      - application/json
      - application/vnd.spring-boot.actuator.v2+json
      parameters:
      - in: body
        name: body
        description: body
        required: false
        schema:
          type: object
          additionalProperties:
            type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  "/actuator/info":
    get:
      tags:
      - operation-handler
      summary: handle
      operationId: handleUsingGET_2
      produces:
      - application/vnd.spring-boot.actuator.v3+json
      - application/json
      - application/vnd.spring-boot.actuator.v2+json
      parameters:
      - in: body
        name: body
        description: body
        required: false
        schema:
          type: object
          additionalProperties:
            type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  "/error":
    get:
      tags:
      - basic-error-controller
      summary: errorHtml
      operationId: errorHtmlUsingGET
      produces:
      - text/html
      responses:
        '200':
          description: OK
          schema:
            "$ref": "#/definitions/ModelAndView"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    head:
      tags:
      - basic-error-controller
      summary: errorHtml
      operationId: errorHtmlUsingHEAD
      consumes:
      - application/json
      produces:
      - text/html
      responses:
        '200':
          description: OK
          schema:
            "$ref": "#/definitions/ModelAndView"
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
    post:
      tags:
      - basic-error-controller
      summary: errorHtml
      operationId: errorHtmlUsingPOST
      consumes:
      - application/json
      produces:
      - text/html
      responses:
        '200':
          description: OK
          schema:
            "$ref": "#/definitions/ModelAndView"
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    put:
      tags:
      - basic-error-controller
      summary: errorHtml
      operationId: errorHtmlUsingPUT
      consumes:
      - application/json
      produces:
      - text/html
      responses:
        '200':
          description: OK
          schema:
            "$ref": "#/definitions/ModelAndView"
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    delete:
      tags:
      - basic-error-controller
      summary: errorHtml
      operationId: errorHtmlUsingDELETE
      produces:
      - text/html
      responses:
        '200':
          description: OK
          schema:
            "$ref": "#/definitions/ModelAndView"
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
    options:
      tags:
      - basic-error-controller
      summary: errorHtml
      operationId: errorHtmlUsingOPTIONS
      consumes:
      - application/json
      produces:
      - text/html
      responses:
        '200':
          description: OK
          schema:
            "$ref": "#/definitions/ModelAndView"
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
    patch:
      tags:
      - basic-error-controller
      summary: errorHtml
      operationId: errorHtmlUsingPATCH
      consumes:
      - application/json
      produces:
      - text/html
      responses:
        '200':
          description: OK
          schema:
            "$ref": "#/definitions/ModelAndView"
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  "/register":
    post:
      tags:
      - service-registry-controller
      summary: register
      operationId: registerUsingPOST
      consumes:
      - application/json
      produces:
      - "*/*"
      parameters:
      - in: body
        name: gitLabMetadata
        description: gitLabMetadata
        required: true
        schema:
          "$ref": "#/definitions/GitLabMetadata"
      responses:
        '200':
          description: OK
          schema:
            type: string
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  "/unregister":
    post:
      tags:
      - service-registry-controller
      summary: unregister
      operationId: unregisterUsingPOST
      consumes:
      - application/json
      produces:
      - "*/*"
      parameters:
      - in: body
        name: gitLabMetadata
        description: gitLabMetadata
        required: true
        schema:
          "$ref": "#/definitions/GitLabMetadata"
      responses:
        '200':
          description: OK
          schema:
            type: string
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  "/microservices":
    get:
      tags:
        - microservice-management-controller
      summary: returns list of registered microservices
      responses:
        '200':
          description: OK
          schema: 
            type: array
            items:
              "$ref": "#/definitions/Microservice"
        '502':
          description: Bad Gateway
  "/microservice/{deployment_name}":
    get:
      tags:
      - microservice-management-controller
      summary: returns data about a specified microservice
      parameters:
        - in: path
          name: deploymentName
          type: string
          required: true
          description: The name of the deployment
      responses:
        '200':
          description: OK
          schema:
            "$ref": "#/definitions/Microservice"
        '502':
          description: Bad Gateway
  "/microservice/{deployment_name}/health":
    get:
      tags:
      - microservice-management-controller
      summary: returns the health of the specified microservice
      parameters:
        - in: path
          name: deploymentName
          type: string
          required: true
          description: The name of the deployment
      responses:
        '200':
          description: OK
          schema: 
              "$ref": "#/definitions/Health"
        '502':
          description: Bad Gateway
  "/microservice/{deployment_name}/metrics":
    get:
      tags:
        - microservice-management-controller
      summary: returns the metrics data of the specified microservice
      parameters:
        - in: path
          name: deploymentName
          type: string
          required: true
          description: The name of the deployment
      responses:
        '200':
          description: OK
        '502':
          description: Bad Gateway
definitions:
  HelmDependency:
    type: object
    properties:
      alias:
        type: string
      name:
        type: string
      repository:
        type: string
      version:
        type: string
    title: HelmDependency
  DeploymentMetadata:
    type: object
    properties:
      release:
        type: string
      service_url:
        type: string
    title: DeploymentMetadata
  GitLabMetadata:
    type: object
    properties:
      deployment:
        "$ref": "#/definitions/DeploymentMetadata"
      pipeline:
        "$ref": "#/definitions/PipelineMetadata"
      repository:
        "$ref": "#/definitions/RepositoryMetadata"
    title: GitLabMetadata
  Link:
    type: object
    properties:
      name:
        type: string
      value:
        type: string
    title: Link
  Health: 
    type: object
    properties: 
      state: 
        type: string
      condition: 
        type: string
      pods:
        type: array
        items:
          $ref: "#/definitions/Pod"
    title: Health
  Pod:
    type: object
    properties: 
      name:
        type: string
      replicaSetName:
        type: string
      phase:
        type: string
    title: Pod
  Microservice:
    type: object
    properties:
      hostname:
        type: string
      version:
        type: string
      address:
        type: string
      codeOwner:
        type: string
      dependencies:
        type: array
        items:
          "$ref": "#/definitions/HelmDependency"
      links:
        type: array
        items:
          "$ref": "#/definitions/Link"
      health:
        $ref: "#/definitions/Health"
    title: Microservice
  Map«string,Link»:
    type: object
    title: Map«string,Link»
    additionalProperties:
      "$ref": "#/definitions/Link"
  ModelAndView:
    type: object
    properties:
      empty:
        type: boolean
      model:
        type: object
      modelMap:
        type: object
        additionalProperties:
          type: object
      reference:
        type: boolean
      status:
        type: string
        enum:
        - 100 CONTINUE
        - 101 SWITCHING_PROTOCOLS
        - 102 PROCESSING
        - 103 CHECKPOINT
        - 200 OK
        - 201 CREATED
        - 202 ACCEPTED
        - 203 NON_AUTHORITATIVE_INFORMATION
        - 204 NO_CONTENT
        - 205 RESET_CONTENT
        - 206 PARTIAL_CONTENT
        - 207 MULTI_STATUS
        - 208 ALREADY_REPORTED
        - 226 IM_USED
        - 300 MULTIPLE_CHOICES
        - 301 MOVED_PERMANENTLY
        - 302 FOUND
        - 302 MOVED_TEMPORARILY
        - 303 SEE_OTHER
        - 304 NOT_MODIFIED
        - 305 USE_PROXY
        - 307 TEMPORARY_REDIRECT
        - 308 PERMANENT_REDIRECT
        - 400 BAD_REQUEST
        - 401 UNAUTHORIZED
        - 402 PAYMENT_REQUIRED
        - 403 FORBIDDEN
        - 404 NOT_FOUND
        - 405 METHOD_NOT_ALLOWED
        - 406 NOT_ACCEPTABLE
        - 407 PROXY_AUTHENTICATION_REQUIRED
        - 408 REQUEST_TIMEOUT
        - 409 CONFLICT
        - 410 GONE
        - 411 LENGTH_REQUIRED
        - 412 PRECONDITION_FAILED
        - 413 PAYLOAD_TOO_LARGE
        - 413 REQUEST_ENTITY_TOO_LARGE
        - 414 URI_TOO_LONG
        - 414 REQUEST_URI_TOO_LONG
        - 415 UNSUPPORTED_MEDIA_TYPE
        - 416 REQUESTED_RANGE_NOT_SATISFIABLE
        - 417 EXPECTATION_FAILED
        - 418 I_AM_A_TEAPOT
        - 419 INSUFFICIENT_SPACE_ON_RESOURCE
        - 420 METHOD_FAILURE
        - 421 DESTINATION_LOCKED
        - 422 UNPROCESSABLE_ENTITY
        - 423 LOCKED
        - 424 FAILED_DEPENDENCY
        - 425 TOO_EARLY
        - 426 UPGRADE_REQUIRED
        - 428 PRECONDITION_REQUIRED
        - 429 TOO_MANY_REQUESTS
        - 431 REQUEST_HEADER_FIELDS_TOO_LARGE
        - 451 UNAVAILABLE_FOR_LEGAL_REASONS
        - 500 INTERNAL_SERVER_ERROR
        - 501 NOT_IMPLEMENTED
        - 502 BAD_GATEWAY
        - 503 SERVICE_UNAVAILABLE
        - 504 GATEWAY_TIMEOUT
        - 505 HTTP_VERSION_NOT_SUPPORTED
        - 506 VARIANT_ALSO_NEGOTIATES
        - 507 INSUFFICIENT_STORAGE
        - 508 LOOP_DETECTED
        - 509 BANDWIDTH_LIMIT_EXCEEDED
        - 510 NOT_EXTENDED
        - 511 NETWORK_AUTHENTICATION_REQUIRED
      view:
        "$ref": "#/definitions/View"
      viewName:
        type: string
    title: ModelAndView
  PipelineMetadata:
    type: object
    properties:
      commit_ref:
        type: string
      url:
        type: string
    title: PipelineMetadata
  RepositoryMetadata:
    type: object
    properties:
      languages:
        type: string
      project_id:
        type: string
      token:
        type: string
      url:
        type: string
    title: RepositoryMetadata
  View:
    type: object
    properties:
      contentType:
        type: string
    title: View
